h1{
    color: blue;
    font-size: 50px; /*Commentaires en css*/
    text-align: justify;
}
.nav_container ul{
    list-style-type: none;
    text-decoration: none;
    font-size: 15px;
}

.nav_container li:hover
{
color: #4413cc;
border-bottom: 3px solid  #d5e218;
font-size: 20px;
}
.nav_container_element{
color: rgb(74, 241, 116);
}

.head_contact ul{
    list-style-type: none;
    font-size: 15px;
}
.head_contact li
{
    display: inline-block;
    margin-right: 15px;
    }
.head_contact li{

font-size: 1.3em;
color: rgb(74, 241, 116);
padding-bottom: 3px;
text-decoration: none;
}
.head_contact li:hover
{
color: #4413cc;
border-bottom: 3px solid  #d5e218;
font-size: 20px;
}

.head_contact_element{
color: yellow;
/*color: #00AAAA;*/
}

/*.welcomming{

}*/
.head{
    background-image: url("jardin-connecté.jpg");
    height:fit-content;
    width: 100%;
    background-repeat: no-repeat;
  
}
body{ 
padding-top: none;
padding-bottom: none;
}
.body_container{
    background-color: blue;
    max-height: 9999999px;
    max-width: 9999999px;
    width: 350px; /* On a indiqué une largeur (obligatoire) */
    margin: auto; /* On peut donc demander à ce que le bloc soit
    centré avec auto */
    border: 1px solid black;
    text-align: justify;
    padding: 12px;
    margin-bottom: 20px;
}
footer{
    margin-top: none;
    background-color: orange;
}